*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: italic;
}

body{
    background-image: url('background.jpg');
}

.container{
    width: 400px;
    background: #4f3563;
    padding: 30px;
    margin: auto;
    margin-top: 190px;
    border-radius: 14px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 14px 32px #000;
    text-align: center;
}

.title{
    font-size: 22px;
    margin-bottom: 20px;
}

.mounth{
    font-size: 20px;
    
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 19px;
}